// This comment line is mandatory for sass-autocompile Atom package (Do not remove it).
@import "libs/vars";
@import "libs/functions";
@import "libs/mixins";
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
@import url("https://fonts.googleapis.com/css?family=Architects+Daughter");

// Components
@import "components/home";
@import "components/toolbar";
@import "components/editor";

body {
  background-color: _palette(bg);
  font-size: 14pt;
}

.main-view.ng-leave {;
  display: absolute;
  transform: translateX(0%);
  transition: all .2s ease-in;
}

.main-view.ng-leave-active {
  transform: translateX(-100%);
}

.main-view.ng-enter {
  transform: translateY(100%);
  transition: all .2s ease-out .2s;
}

.main-view.ng-enter-active {
  transform: translateY(0%);
}
