.doc {
  .title {
    md-input-container {
      .md-input {
        font-family: _font(family-body);
      }
    }

    md-icon {
      height: 36px;
      margin: .2em;
      width: 36px;
    }
  }
}
