mute-home {
  font-family: _font(family-heading);

  .logo {

    h1 {
      font-size: 7em;
      font-weight: bold;
      margin-bottom: .2em;
      margin-top: .4em;
    }

    h2 div {
      font-size: 2em;
      font-weight: bold;
      line-height: 1.5em;

      &:first-child {
        margin-left: .5em;
      }

      &:last-child {
        margin-left: 1.2em;
      }
    }
  }

  .docs {
    overflow: auto;

    md-whiteframe {
      background-color: _palette(bg-alt);
      margin-bottom: 1.2em;
      padding: .6em 0 .6em .6em;
    }
  }
}
