home {
  font-family: "Amatic SC";
  font-weight: normal;
  font-size: 1.5em;
  .logo {
    font-family: "Amatic SC";
    font-weight: bold;
    font-size: 3.3em;
    h1 {
      margin-bottom: 0;
    }
    h2 {
      margin-top: 0.2em;
      span {
        display: block;
        font-size: 0.5em;
        line-height: 2em;
        &:first-child {
          margin-left: 0.7em;
        }
        &:last-child {
          margin-left: 2.2em;
        }
      }
    }
  }
  .document-list .document {
    margin-bottom: 1.5em;
  }
}