.home {
  font-family: _font(family-heading);

  .logo {

    h1 {
      font-size: 7em;
      font-weight: bold;
      margin-bottom: .2em;
      margin-top: .4em;
    }

    h2 div {
      font-size: 2em;
      font-weight: bold;
      line-height: 1.5em;

      &:first-child {
        margin-left: .5em;
      }

      &:last-child {
        margin-left: 1.2em;
      }
    }
  }

  .docs {
    md-whiteframe {
      @include vendor('transition', 'all .2s ease');
      background-color: _palette(bg-alt);
      color: inherit;
      cursor: pointer;
      font-family: _font(family-body);
      height: 48px;
      margin-bottom: 1.2em;
      padding: 0 0 0 .5em;
      text-decoration: none;
    }
  }
}
