mute-toolbar {

  md-input-container {
    .md-input {
      font-family: _font(family-body);
      //color: _palette(bg-alt);
      text-align: right;
    }
  }

  md-icon {
    height: 36px;
    margin: .2em;
    width: 36px;
  }
}
