<div layout="row">
  <div class="logo" flex="25" hide layout-align="center center" layout="column" show-gt-lg>
    <h1 flex-offset="5">MUTE</h1>
    <h2 flex-offset="10">
      <span>"Multi-User</span>
      <span>Text Editor"</span>
    </h2>
  </div>
  <div class="document-list" flex="75" layout-padding layout="column">
    <h3 flex-offset-sm="5" flex-offset="15">Documents</h3>
    <div flex-offset-sm="5" flex-offset="15">
      <div layout-align="space-between start" layout-fill layout="column">
        <div class="md-whiteframe-2dp document" flex>
          TODO: main document
        </div>
        <div class="md-whiteframe-2dp document" flex>
          Article about new architecture
        </div>
        <div class="md-whiteframe-2dp document" flex>
          Another document
        </div>
      </div>
    </div>
  </div>
</div>