<section class="logo" flex="30" layout="column" layout-align="start start" hide show-gt-sm>

  <h1 flex-offset="10" class="md-display-4">MUTE</h1>
  <h2 flex flex-offset="10">
    <div class="md-display-3">"Multi-User</div>
    <div class="md-display-3">Text Editor"</div>
  </h2>

</section>

<section class="docs" flex layout="column" layout-align="start start">

  <h3 class="md-headline">Documents</h3>
  <section layout="column">
    <md-whiteframe class="md-whiteframe-2dp">
      <span class="md-title">TODO: main document</span>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-2dp md-title" >
      <span class="md-title">Article about new architecture</span>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-2dp md-title" >
      <span class="md-title">Another document</span>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-2dp md-title" >
      <span class="md-title">Another document</span>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-2dp md-title" >
      <span class="md-title">Another document</span>
    </md-whiteframe>
    <md-button class="md-fab md-primary" aria-label="Add">
      <md-icon md-svg-src="assets/img/add.svg"></md-icon>
    </md-button>
  </section>


</section>
