<div flex class="doc" layout="row" layout-align="start stretch">

  <div hide show-gt-sm flex-gt-sm="15" class="title">
    <!-- <md-whiteframe class="md-whiteframe-2dp md-primary">
      <md-input-container>
        <md-icon aria-label="Document" md-svg-src="assets/img/flaticon/document163.svg"></md-icon>
        <input ng-model="vm.title">
      </md-input-container>
    </md-whiteframe> -->
    <md-toolbar class="md-whiteframe-z4 md-primary" >
      <div layout="row" layout-align="end center" layout-margin>
        <md-icon aria-label="Document" md-svg-src="assets/img/flaticon/document163.svg"></md-icon>
        <md-input-container>
          <input ng-model="vm.title">
        </md-input-container>
      </div>
    </md-toolbar>

  </div>

  <div flex flex-gt-sm="85" layout="row" layout-align="center stretch">
    <md-whiteframe flex flex-gt-sm="70" ui-ace class="md-whiteframe-2dp">

    </md-whiteframe>
  </div>

</div>
